@charset "UTF-8";

body {
    background-color: #000043;
    margin: 0; /* Removendo margens padrão do body */
}

#home {
    display: flex;/* Centralizar conteúdo */
    justify-content: flex-start;
    padding: 40px 80px; /* Reduzindo preenchimento horizontal */
}

.dkl-group {
    display: flex;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Centralizar texto */
    width: 40%;
    padding: 20px 0px 20px 80px;
    text-align: flex-start; /* Centralizar texto */
}

.texto h2 {
    font-size: 3.5em; /* Usando em para tamanho de fonte */
    color: white;
    padding-bottom: 20px;
}

.texto p {
    color: white;
    font-size: 2.3em;
}

.texto .bolalink  a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    background: rgba(91, 0, 170, 0.65);
    box-shadow: 5px 5px 10px 0 rgba(192, 193, 216, 0.37);
    border-radius: 15px;
    padding: 10px 30px; /* Aumentando espaço interno */
    transition: transform 500ms;
}

.texto .bolalink a:hover {
    transform: scale(1.8);
}

.bolalink {
    margin-top: 20px; /* Adicionando espaço acima do link */
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img{
    display: flex;
    justify-items: center;
    width: 80%;
    border-radius: 25px;
}

@media screen and (min-width: 1000px) {
    #home {
        justify-content: flex-start; /* Alinhar à esquerda para telas maiores */
    }
}

@media screen and (max-width: 1000px) {
    #home {
        justify-content: center; /* Centralizar para telas menores */
        flex-direction: column;
    }

    .texto h2 {
        font-size: 2.5em; /* Reduzindo o tamanho da fonte */
        padding-bottom: 10px; /* Reduzindo o espaço abaixo do título */
    }

    .texto p {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.1em; /* Reduzindo o tamanho da fonte */
    }

    .texto a {
        font-size: 1em; /* Reduzindo o tamanho da fonte */
        padding: 8px 15px; /* Reduzindo o espaço interno */
    }
}

