@charset "UTF-8";

body {
    background-color: #000043;
    margin: 0; /* Removendo margens padrão do body */
}

#home {
    display: flex;/* Centralizar conteúdo */
    padding: 40px 20px; /* Reduzindo preenchimento horizontal */
}

.container {
    max-width: 1000px; /* Limitando largura do conteúdo */
    width: 100%;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Centralizar texto */
    width: 40%;
    padding: 20px 0px 20px 80px;
    text-align: flex-start; /* Centralizar texto */
}

.texto h2 {
    font-size: 3.5em; /* Usando em para tamanho de fonte */
    color: white;
    padding-bottom: 20px;
}

.texto p {
    color: white;
    font-size: 1.7em;
}

.texto a {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    background: rgba(91, 0, 170, 0.65);
    box-shadow: 5px 5px 10px 0 rgba(192, 193, 216, 0.37);
    border-radius: 15px;
    padding: 10px 20px; /* Aumentando espaço interno */
    transition: transform 0.8s;
}

.texto a:hover {
    transform: scale(1.1); /* Corrigindo propriedade scale */
}

.bolalink {
    margin-top: 20px; /* Adicionando espaço acima do link */
}

@media screen and (min-width: 1000px) {
    #home {
        justify-content: flex-start; /* Alinhar à esquerda para telas maiores */
    }
}

@media screen and (max-width: 1000px) {
    #home {
        justify-content: center; /* Centralizar para telas menores */
    }

    .texto h2 {
        font-size: 2.5em; /* Reduzindo o tamanho da fonte */
        padding-bottom: 10px; /* Reduzindo o espaço abaixo do título */
    }

    .texto p {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.1em; /* Reduzindo o tamanho da fonte */
    }

    .texto a {
        font-size: 1em; /* Reduzindo o tamanho da fonte */
        padding: 8px 15px; /* Reduzindo o espaço interno */
    }
}

